<h1>Django-ToDo-App</h1> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p>This is a To-Do app build using django framework of python. Here user can create his todo list by adding items, crossed off the completed items, delete the completed items and can delete all the items.
</p>

<h3>Technologies Used :</h3>

<ul style="list-style-type:square">
    <li>Python</li>
    <li>Django</li>
    <li>Bootstrap</li>
    <li>db.sqlite3</li>
</ul>
    
<h1>Additional Python Modules Required:</h1>

    1.Django
    
Running the project:

1. Migrate :

       > cd todo_app
       > python manage.py migrate
    
2. Make Admin User :

       > python manage.py createsuperuser
    
3. runserver :

       > cd todo_app 
       > python manage.py runserver  
</body>
</html>
